.App footer{
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* @media (prefers-reduced-motion: no-preference) { 
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

header{
  background-color: purple;
  padding:0%;
  position:fixed;
  width:100%;
 }
 header h1{
  text-align: center;
  font-size:xx-large;
  color: antiquewhite;
 }
 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: violet;
  align-items: center;
  position:fixed;
  width:100%;
  margin-top: 0%;
  
}

li {
  float: left;
}

li a {
  display: block;
  color: purple;
  font-weight: bold;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color:violet;
  color: black;
}
.active{
  background-color: purple;
  color: white;
}
.App-header {
  background-color: white;
  display: flex;
  flex-direction: column;
  /*align-items: center;
  justify-content: center;*/
  font-size: calc(10px + 2vmin);
  color: black;
  background-image:url(back.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
h1{
  color: purple;
}

.App-link {
  color: #61dafb;
}
footer{
  background-color: purple;
  color: azure;
  padding:0%;
  position:absolute;
  width:100%;

}
img{
size:100%;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
